<div th:fragment="footer">
    <footer class="bd-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="footer-column">
                        <h4>Follow us</h4>
                        <div class="follow-icons d-flex justify-content-around">
                            <a href="https://www.facebook.com/kcflowersandeventsldn/">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/kcflowers_events/?hl=en">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="footer-column">
                        <h4>Contact</h4>
                        <ul>
                            <li>
                                <a href="tel:+447990714505">
                                    <i class="fa-solid fa-phone"></i>
                                    Katerina: 07990 714505
                                </a>
                            </li>
                            <li>
                                <a href="tel:+4477946512113">
                                    <i class="fa-solid fa-phone"></i>
                                    Cheryl: 07946 512113
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@kcflowerandevents.com">
                                    <i class="fa-solid fa-envelope"></i>
                                    info@kcflowerandevents.com
                                </a>
                            </li>
                            <li>
                                <a href="tel:+4477946512113">
                                    <i class="fa-solid fa-clock"></i>
                                    9am - 6pm
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>