<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{css/normalize.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{css/main.css}">
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="index-main">
  <div class="index-info container-lg con-description text-center">
    <div class="row">
      <div class="col-md">
        <h1>
          About KC Flowers
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <img class="img-fluid img-about-us" th:src="@{/img/cher-and-kat.jpg}" alt="About Us">
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p class="description ">
          Hi, we are Kat Wojtowicz & Cheryl Pierce.Two highly experienced, dynamic, London based florists, with over 20 years
          experience between us.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p class="description ">
          Having freelanced together for 5 years, we decided to make our collaboration official creating our very own
          independent, London based, florist company for Weddings, events and everything in between.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p class="description ">
          With Kat’s Czechoslovakian heritage & Cheryl’s unique florist style we bring a fusion of interesting creativity.
          Whether its classic, contemporary, exotic or simple we work together to create bespoke floral arrangements.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p class="description ">
          We’ve worked on events and private functions such as Christmas insulation for Claridge’s, Sandra Rhodes, Mick
          Jagger, Rihanna & Peter Andre to name but a few.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p class="description ">
          We pride ourselves on creating a unique intimate experience for our customer’s. We can help to create the perfect
          floral arrangements to tell your love story on your big day, create celebratory floral displays or help you through
          the difficult process of choosing sympathy flowers for a loved one. We will be there every step of the way to guide
          you through your major event.
        </p>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</body>
</html>
